<!-- Wide card with share menu button -->
<style>
  .demo-card-wide.mdl-card {
    width: 512px;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../../welcome_card.jpg') center / cover;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
</style>

<p id="notice"><%= notice %></p>

<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix has-gutters">
  <% @ctds.each do |d| %>
      <div class="box col5">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text"> <%= d.destination %> (<%= d.destination_rut %>) </h2>
          </div>
          <div class="mdl-card__supporting-text">
            <b>Documento:  </b><%= d.folio %>
            <br>
            <b>Fecha Transferencia  </b><%= d.transfer_date %>
            <br>
            <b>Folio: </b><%= d.folio %>
            <br>
            <b>Monto:  </b><%= number_to_currency(d.amount,  unit: "$", separator: ",", delimiter: ".") %>
            <br>
              <b>Estado: </b><%= d.state %>
            <br>
          </div>
          <div class="mdl-card__actions mdl-card--border">

            <i class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            <%= link_to ("Descargar documento para "+d.destination+" ("+d.destination_rut+")"), :controller => :transferrals, :action => :download, :id => d.id %>
            </i>
          </div>
        </div>
      </div>
  <%end %>
</div>

<script>
    $(function(){

        $('#masonry-container').masonry({
            itemSelector: '.box',
            columnWidth: 100,
            gutterWidth: 40
        });

    });
</script>