<p id="notice"><%= notice %></p>
<center>
<table class="mdl-data-table mdl-js-data-table mdl-textfield--full-width mdl-shadow--2dp">
  <thead>
  <tr>
    <th class="mdl-data-table__cell--non-numeric">Variable</th>
    <th >Value</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="mdl-data-table__cell--non-numeric">Username</td>
    <td><%= @user.username %></td>
  </tr>
  <tr>
    <td class="mdl-data-table__cell--non-numeric">Certificate</td>
    <td>
      <div style="width: 100%; margin-left: auto; margin-right: auto"class="mdl-textfield mdl-js-textfield">
        <textarea class="mdl-textfield__input" type="text" rows= "15" id="sample5" ><%= @user.certificate.file.read %></textarea>
        <label class="mdl-textfield__label" for="sample5"></label>
      </div>
    </td>
  </tr>
  <tr>
    <td class="mdl-data-table__cell--non-numeric">Private Key</td>
    <td>
      <div style="width: 100%; margin-left: auto; margin-right: auto"class="mdl-textfield mdl-js-textfield">
        <textarea class="mdl-textfield__input" type="text" rows= "20" id="sample5" ><%= @user.private_key.file.read %></textarea>
        <label class="mdl-textfield__label" for="sample5"></label>
      </div>
    </td>
  </tr>
  <tr>
    <td class="mdl-data-table__cell--non-numeric">Rut</td>
    <td><%= @user.rut %></td>
  </tr>
  </tbody>
</table>

</center>
<%= link_to '<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
Edit
</button>'.html_safe, edit_user_path(@user) %>
